.leaderboard-container {
  margin-top: 85px;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  box-sizing: border-box; 
}

.table {
  text-align: center;
}

th, td {
  vertical-align: middle;
}

.filters {
  display: flex;
  justify-content: center;
}

.search_input{
  display: block;
  max-width: 50%;
  padding: .375rem 2.25rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  appearance: none;
  background-color: var(--bs-body-bg);
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}

.TopRecipe_body{
  width: 100%;
  height: 100vh;
  background-image: url('food.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderboard-container img {
  border: 2px solid #ddd;
  padding: 2px;
}

.filter-container{
  max-width: 150px;
}

.filter-container-user{
  max-width: 200px;
}

.leaderboard-title {
  background: linear-gradient(90deg, #FFD700, #FF6347);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 18px;

}



.TopUser_body{
  margin-top: 10rem;
  background-color: rgb(255, 255, 255,0.95);
}

