

.form{
    width: 100%;
}

section .form_data form .form_input input {
    margin-top: 15px;
}

section .form_data form{
    padding: 10px;
}

section .form_data{
    max-width: 750px;
}

section .form_data form .btn-danger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7%;
    height: 100%;
    padding: 10px 5px;
    background-color: #de0404;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 0px;
}
.create_recipe_body{
    width: 100%;
    background-image: url('bgcreate.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;

}


.form_container {
    max-width: 1500px;
    margin: 0 auto;
}

.form_data {
    background-color: #ffffff;

}

.summit_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 35px 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.form {
    width: 100%;
    padding: 10px;
}

.input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form_input_instructions{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;

    .instruction-column{
        display: flex;
        flex-direction: column;
    }

    label {
        font-weight: 600;
        font-size: 15px;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        background-color: #4299e1;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 15px;
        margin-top: 10px;

        &:hover {
            background-color: #2b6cb0;
        }
    }

    .description_container{
        display: none;
        right: inherit;

        p{
            color: #000;
            text-align: start;
            margin: 0px;
        }
    }

    div {

        input {
            width: 100%;
            padding: 11px;
            border: 1px solid #d4d0d0;
            border-radius: 5px;
            outline: none;
            font-size: 14px;

            &::placeholder {
                color: #8694a8;
                letter-spacing: 0.5px;
                font-size: 14px;
            }

            &:focus {
                border: 2px solid rgba(66, 153, 225, 0.6);
            }
        }
    }
}

.form_input_instructions{

    .label_with_des{
        display: flex;
        flex-direction: row;
    
        i{
            margin-top: 10px;
        }
    }

    .instruction-column{
        display: flex;
        flex-direction: column;
    }

    .form_input_img{
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        width: 100%;
    } 

    button.btn.btn-danger {
        width: 100% !important;
    }   
}

.form_input_instructions{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .instruction-column{
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 20px;
    }

    label {
        font-weight: 600;
        font-size: 15px;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        background-color: #4299e1;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 15px;
        margin-top: 10px;

        &:hover {
            background-color: #2b6cb0;
        }
    }

    .description_container{
        display: none;
        right: inherit;

        p{
            color: #000;
            text-align: start;
            margin: 0px;
        }
    }

    div {

        input {
            width: 100%;
            padding: 11px;
            border: 1px solid #d4d0d0;
            border-radius: 5px;
            outline: none;
            font-size: 14px;

            &::placeholder {
                color: #8694a8;
                letter-spacing: 0.5px;
                font-size: 14px;
            }

            &:focus {
                border: 2px solid rgba(66, 153, 225, 0.6);
            }
        }
    }
}

.form_input_appendices{
    width: 100%;
    
    .label_with_des{
        display: flex;
        flex-direction: row;
    
        i{
            margin-top: 10px;
        }
    }

    label {
        font-weight: 600;
        font-size: 15px;
    }

    .instruction-column{
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 20px;


    }

    .description_container{
        display: none;
        right: inherit;

        .description_text{
            color: #000;
            text-align: start;
            margin: 0px;
        }
    }

    .form_input_img{
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        width: 100%;
    } 

    button.btn.btn-danger {
        width: 100% !important;
    }   
}

.form_input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    min-width: 296px;
    justify-self: center;

    label {
        font-weight: 600;
        font-size: 15px;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        background-color: #4299e1;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 15px;
        margin-top: 10px;

        &:hover {
            background-color: #2b6cb0;
        }
    }


    .description_container{
        display: none;
        right: inherit;

        p{
            color: #000;
            text-align: start;
            margin: 0px;
        }
    }


    div {

        input {
            flex: 1;
            padding: 11px;
            border: 1px solid #d4d0d0;
            border-radius: 5px;
            outline: none;
            margin-right: 10px;
            font-size: 14px;

            &::placeholder {
                color: #8694a8;
                letter-spacing: 0.5px;
                font-size: 14px;
            }

            &:focus {
                border: 2px solid rgba(66, 153, 225, 0.6);
            }
        }

        select {
            width: 100px;
            padding: 11px;
            border: 1px solid #d4d0d0;
            border-radius: 5px;
            outline: none;
            font-size: 14px;
            margin-top: 0px;

            &:focus {
                border: 2px solid rgba(66, 153, 225, 0.6);
            }
        }
    }
}

.ingredient-row{
    display: flex;
    flex-direction: row;

    select.mr-2{
        width: 100px;
        padding: 11px;
        border: 1px solid #d4d0d0;
        border-radius: 5px;
        outline: none;
        font-size: 14px;
        margin-top: 15px;
        height: 44px;

        &:focus {
            border: 2px solid rgba(66, 153, 225, 0.6);
        }
    }

    button.btn.btn-danger{
        margin-top: 15px;
    }
}

@media (max-width: 1023px) {
    .ingredient-row, .instruction-row{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    section .form_data form .btn-danger, .form_input div select{
        width: 100%;
    }

    section .form_data form .form_input input{
        margin: 0;
    } 


  }
