.chat__container{
  color: black;
}

#instruction__toggler{
  bottom: 104px;
}

#chat__toggler{
  bottom: 30px;
}

#chat__toggler, #instruction__toggler{
  position: fixed;
  border: none;
  right: 24px;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  background: #6D4FC2;
  align-items: center;
  justify-content: center;
}

#chat__toggler span{
  position: absolute;
}

#chat__toggle svg{
  fill: #fff;
}

.chat__popup{
  bottom: 90px;
}

.instruction__popup{
  bottom: calc(90px + 74px);

}

.chat__popup, .instruction__popup{
  position: fixed;
  width: 420px;
  max-height: 600px;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  right: 35px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 
  0 32px 64px -48px rgba(0,0,0,0.5);
}

.chat__container.chat__open .chat__popup {
  opacity: 1;
  pointer-events: auto;
}

.chat__container.instruction__open .instruction__popup {
  opacity: 1;
  pointer-events: auto;
}

.chat__header, .instruction__header{
  display: flex;
  padding: 15px 22px;
  align-items: center;
  justify-content: space-between;
  background: #6D4FC2;
}

.chat__header__info, .chat__instruction__info{
  display: flex;
  gap: 10;
  align-items: center;
}

.chat__header__info svg, .instruction__header__info svg {
  height: 35px;
  width: 35px;
  padding: 6px;
  margin-right: 11px;
  flex-shrink: 0;
  fill:#6D4FC2;
  background: #fff;
  border-radius: 50%;
}

.chat__header__info .chat__logo-text, .instruction__logo-text{
  color: #fff;
  font-size: 1.31rem;
  font-weight: 600;
}

.chat__header button{
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  font-size: 1.9rem;
  padding-top: 2px;
  margin-right: -10px;
  background: #593bab;
  transform: 0.2 ease;
}

.chat__body, .instruction__body{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 25px 22px;
}

.instruction__body{
  gap: 8px;
}

.chat__body{
  height: 460px;
  margin-bottom: 84px;
  gap: 20px;
}

.chat__body .chat__bot__message{
  display: flex;
  gap: 11px;
  align-items: center;
}

.chat__body .chat__bot__message.error .chat__message__text{
  color: #ff0000;
}

.chat__body .chat__bot__message svg{
  height: 35px;
  width: 35px;
  padding: 6px;
  margin-right: 11px;
  flex-shrink: 0;
  fill:#fff;
  align-self: flex-end;
  background: #6D4FC2;
  border-radius: 50%;
}

.chat__body .chat__message__text{
  padding: 12px 16px;
  max-width: 75%;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 0.9rem;
}

.chat__body .chat__bot__message .chat__message__text{
  background: #F6F2FF;
  border-radius: 13px 13px 13px 3px;
}

.chat__body .chat__user__message{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat__body .chat__user__message .chat__message__text{
  color: #fff;
  background: #6D4FC2;
  border-radius: 13px 13px 3px 13px;
}

.chat__footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 15px 22px 20px;
}

.chat__footer .chat__form{
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 32px;
  outline:  1px solid #CCCCE5;
  box-shadow: 0 0 8px rgba(0,0,0,0.06);
}

.chat__footer .chat__form:focus-within{
  outline: 2px solid #6D4FC2;
}

.chat__form .chat__message__input{
  border: none;
  outline: none;
  background: none;
  width: 100%;
  height: 47px;
  padding: 0 17px;
  font-size: 0.9rem;
}

.chat__form button{
  height: 35px;
  width: 35px;
  color: #fff;
  border: none;
  outline: none;
  display: none;
  font-size: 1.15rem;
  cursor: pointer;
  flex-shrink: 0;
  border-radius: 50%;
  margin-right: 6px;
  background: #6D4FC2;
  transition: 0.2s ease;
}

.chat__form button:hover{
  background: #593bab;
}

.chat__form .chat__message__input:valid ~ button{
  display: block;
}
