.hero {
  display: flex;
  border: 1px solid #ccc;
  margin-top: 61px;



  @media (min-width: 1024px) {
    min-height: 640px;

  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: #fff;
    padding: 2.5rem 0;
    background-image: url('HeroImg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (max-width: 640px){
      justify-content: center;
      background-image: url('HeroImgMobile.png');
    }

  }

  &__content {
    text-align: center;
    color: #414141;
    margin-left: 124px;
    @media (max-width: 640px){
      margin-left: 0px;
    }
  }

  &__tag {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .hero__line {
      width: 2rem;

      @media (min-width: 768px) {
        width: 2.75rem;
      }

      height: 2px;
      background-color: #414141;
    }

    .hero__label {
      font-weight: 500;
      font-size: 1.25rem !important;
    }
  }

  &__title {
    font-size: 1.875rem;
    line-height: 1.5;
    padding: 0.75rem 0;

    @media (min-width: 1024px) {
      font-size: 3rem; 
    }
  }

  &__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    .hero__more {
      font-size: 1.15rem !important;
      color: #414141;
      text-decoration: none;
      cursor: pointer;
    }

    .hero__more ~ .hero__more{
      margin-left: 20px;
    }

    .hero__more:hover{

      font-weight: 600;
    }

  }

  
}
