header {
  width: 100%;
  z-index: 1;
  margin-bottom: 0;
  position: fixed;
  top: 0;
}

.btn-warning{
  margin-right: 0px;
  color: white;
}

.userProfilePic{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  align-self: center;
}