header {
  width: 100%;
  z-index: 1;
  margin-bottom: 0;
  position: fixed;
  top: 0;
}

.btn-warning{
  margin-right: 0px;
  color: white;
}

.profile__picture__container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #fff;
}

.userProfilePic{
  width: 30px;
  height: 30px;
}