.recipe-container {
  padding: 15px 35px 15px 35px;
  margin-top: 63px;
  background-color: #ffffff;
  margin-bottom: 0;
}

.recipe-header-details-container {
  display: flex;
  justify-content:flex-start;
  align-items:flex-start;
  gap: 12px;
  padding: 10px;
}

.recipe-header-details-container .review_btn{
  cursor: pointer;
  margin-left: 10px;
}

.recipe-header-details-container .review_btn:hover{
  color: #0000EE;
  text-decoration: underline; 
}

.navBtn{
  margin-left: 10px;
  background-color: #ea9c00;
  border-color: #ea9c00;
}

.recipe-header-details-container button:hover{
  background-color: #ffd000;
}

.title_with_des{
  display: flex;
  flex-direction: row;

  .description_icon i{
    margin-top: 28px;
    margin-left: 8px;
    opacity: 0.45;
  }

  .description_container {
    right: inherit;
    margin-left: 16px;
  }
}

.ingredients-card-title{
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;

  .description_icon i{
    margin-top: 28px;
    margin-left: 8px;
    opacity: 0.45;
  }


}

.recipe-header {
  text-align: left;
}

.recipe-title {
  font-size: 40px;
  font-weight: 700;
}

.recipe-rating {
  margin-top: 1rem;
}

.recipe-author {
  margin-top: 1rem;
}

.description{
  margin-top: -16px;
}

.description .detail{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-bottom: 4px;
}

.description .toggle{
  width: fit-content;
  font-size: 18px;
  cursor: pointer;
}

.description .toggle:hover{
  font-weight: 700;
}

.recipe-image-card {
  max-width: 28rem;
  border: none;
}

.mb-4 {
  margin-top: 2px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 17px;
}

.card-title {
  margin-top: 10px;
}
.form-check {
  margin-top: 0.5rem;
  font-size: 18px;
}

.checked {
  opacity: 0.5;
  font-size: 16px;
}

.user-details{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  width: 50%;
}

.recipe-details {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  width: 50%;
}


.servings-display {
  margin: 0 1rem;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}


.recipe-info {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.recipe-info-card {
  max-width: 35rem;
  border: none;
}

.recipe-ingredients-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-ingredients-instructions .user__action__button{
  font-size: 12px;
  min-width: 64px;  
}

.ingredients-card,
.instructions-card {
  max-width: stretch;
  width: 100%;
  margin-bottom: 1rem;
}

.recipe-ingredients-instructions label{
  cursor: pointer;
}

.recipe-ingredients-instructions label:hover{
  color: #ea9c00;
  font-weight: 700;
}

.review {
  padding-bottom: 2px;
}

.btn-link{
  padding: 0;
  margin-bottom: 6px;
  margin-left: 3px;
  color: black;
  text-decoration: none;

}

.user_review mt-4 {

  display: flex;
  width: 100%;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.stars{
  color: #ffee00; 
  font-size: 20px;
  margin-left: 10px;
}

.star{
  color: #ffd000; 
  font-size: 20px;
  font-weight: 700;
}

.info_box{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: -10px;
}

.Date{
  opacity: 50%;
  font-size: 12px;
}

.rating{
  width: 70px;
  margin-left: 0;
  margin-bottom: 12px;
}

.reviewdetails .form-control{
  margin-bottom: 12px;
}


.instruction{
  margin-bottom: 2px;
}

.userprofile__action{
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 12px;
  align-items: flex-end;
}

.serving_change button{
  padding: 9px;
  color: #000000;
}

@media (max-width: 1023px) {
  .recipe-header-details-container{
    flex-direction: column;
  }

  .recipe-title{
    font-size: 30px;
  }

  .recipe-details, .user-details{
    margin-left: 0px;
    width: 100%;
  }

  .userprofile__action{
    margin-top: 12px;
    align-items: stretch;
    gap: 8px;
  }

  .info_box{
    flex-direction: column;
    margin-bottom: 0px;
    align-items: flex-start;

  }


  .user_recipe_btn{
    width: 100%;
    padding: 12px;
  }

  .recipe-ingredients-instructions{
    gap: 8px;
  }

  .recipe-ingredients-instructions {
    width: 100%;
  }

  .recipe-ingredients-instructions .user__action__button{
    font-size: 14px;
    padding: 8px;
    width: 100%;
  }

  .serving_container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .navBtn{
    width: 100%;
  }
}