.recipe-container {
  padding: 15px 35px 15px 35px;
  margin-top: 64px;
  background-color: #ffffff;
  margin-bottom: 0;
}

.recipe-header-details-container {
  display: flex;
  justify-content:flex-start;
  align-items:flex-start;
  gap: 12px;
  padding: 10px;
}

.recipe-header-details-container .review_btn{
  cursor: pointer;
  margin-left: 10px;
}

.recipe-header-details-container .review_btn:hover{
  color: #0000EE;
  text-decoration: underline; 
}

.navBtn{
  margin-left: 10px;
  background-color: #ea9c00;
  border-color: #ea9c00;
}

.recipe-header-details-container button:hover{
  background-color: #ffd000;
}



.recipe-header {
  text-align: left;
}

.recipe-title {
  font-size: 40px;
  font-weight: 700;
}

.recipe-rating {
  margin-top: 1rem;
}

.recipe-author {
  margin-top: 1rem;
}



.recipe-image-card {
  max-width: 32rem;
  border: none;
}

.mb-4 {
  margin-top: 2px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 17px;
}

.card-title {
  margin-top: 10px;
}
.form-check {
  margin-top: 0.5rem;
  font-size: 18px;
}

.checked {
  opacity: 0.5;
  font-size: 16px;
}

.user-details{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  width: 50%;
}

.recipe-details {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  width: 50%;
}


.servings-display {
  margin: 0 1rem;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}


.recipe-info {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.recipe-info-card {
  max-width: 35rem;
  border: none;
}

.recipe-ingredients-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredients-card,
.instructions-card {
  max-width: stretch;
  width: 100%;
  margin-bottom: 1rem;
}

.recipe-ingredients-instructions label{
  cursor: pointer;
}

.recipe-ingredients-instructions label:hover{
  color: #ea9c00;
  font-weight: 700;
}

.review {
  padding-bottom: 2px;
}

.btn-link{
  padding: 0;
  margin-bottom: 6px;
  margin-left: 3px;
  color: black;
  text-decoration: none;

}

.user_review mt-4 {

  display: flex;
  width: 100%;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.stars{
  color: #ffee00; 
  font-size: 20px;
  margin-left: 10px;
}

.star{
  color: #ffd000; 
  font-size: 20px;
  font-weight: 700;
}

.info_box{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: -10px;
}

.Date{
  opacity: 50%;
  font-size: 12px;
}

.rating{
  width: 7%;
}

.instruction{
  margin-bottom: 2px;
}

.userprofile__action{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}